@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply py-6 px-4 bg-discordbg;
    }
    img {
        @apply w-[clamp(10vw,25vw,50vw)];
    }

    h2 {
        @apply text-discordtext text-[17px] mt-2;
    }
    span {
        @apply font-bold;
    }

    .move {
        -webkit-user-select: none;
        -webkit-app-region: drag;
    }
    /* @media (max-width: 750){

    } */
}